
.main-faq--wrap .main-content {
    /* max-width: 900px; */
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  .main-faq--wrap .main-content .description-title {
    background-color: #fff;
    color: #3C4043;
    font-size: 15px;
    padding-left: 10px;
    line-height: 55px;
    transition: 0.2s;
  }
  .main-faq--wrap .main-content .description-title:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
  }
  .main-faq--wrap .main-content .expand-collapse {
    float: right;
    margin-right: 8px;
  }
  .main-faq--wrap .main-content .description {
    font-size: 14px;
    color: #35353f;
    max-height: 0;
    overflow: hidden;
    margin-left: 0px;
    padding-left: 10px;
    transition: max-height 0.15s ease-out;
    background-color: #f8f8f8;
    border-bottom: 1px solid #DFE1E5;
  }
  .main-faq--wrap .main-content .description p {
    margin-top: 4px;
  }
  .main-faq--wrap .main-content .description div {
    padding-top: 10px;
  }
  .main-faq--wrap .main-content .expand-collapse svg {
    position: relative;
    top: 7px;
  }
  dd{
      margin-bottom: 0;
  }
  /*
* FOR FAQ - MOVE IT TO FAQ BLOCK CSS
*/
.main-faq--wrap .main-content.mfp_faq_block {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
/*
* END FOR FAQ - MOVE IT TO FAQ BLOCK CSS
*/